---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
    <%= image_tag "logo.png" %>
  </div>
  <h1>Middleman is Running</h1>

  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
    <%= link_to "About", '/about.html' %>

  </p><!-- .doc -->
</div><!-- .welcome -->
